## Handling Imbalanced Dataset

1. Up Sampling
2. Down Sampling

In [1]:
import numpy as np
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [2]:
n_class_0,n_class_1

(900, 100)

In [3]:
## CREATE MY DATAFRAME WITH IMBALANCED DATASET
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [4]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [5]:
df.tail()

     feature_1  feature_2  target
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

In [7]:
df['target'].unique()

array([0, 1])

In [7]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

In [8]:
## upsampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [9]:
from sklearn.utils import resample
df_minority_upsampled=resample(df_minority,replace=True, #Sample With replacement
         n_samples=len(df_majority),
         random_state=42
        )

In [10]:
df_minority_upsampled.shape

(900, 3)

In [17]:
df_minority_upsampled.head(2)

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1

In [18]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled]).reset_index(drop=True)

In [20]:
df_upsampled.shape

(1800, 3)

In [21]:
df_upsampled.tail()

      feature_1  feature_2  target
1795   1.188902   2.189189       1
1796   3.919526   1.980541       1
1797   2.810326   3.604614       1
1798   3.621531   2.168229       1
1799   1.160887   2.489203       1

In [22]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

## Down Sampling

In [15]:
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

df = pd.concat([class_0, class_1]).reset_index(drop=True)

# Check the class distribution
print(df['target'].value_counts())

0    900
1    100
Name: target, dtype: int64

In [16]:
## downsampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [23]:
from sklearn.utils import resample
df_majority_downsampled=resample(df_majority,replace=False,
         n_samples=len(df_minority),
         random_state=42
        )

In [24]:
df_majority_downsampled.shape

(100, 3)

In [25]:
df_downsampled= pd.concat([df_majority_downsampled,df_minority]).reset_index(drop=True)

In [26]:
df_downsampled.head()

   feature_1  feature_2  target
0   0.468439   1.720920       0
1   1.089165  -0.464899       0
2   0.753869  -0.969798       0
3   0.588686  -0.704720       0
4   0.283627   1.012868       0

In [27]:
df_downsampled.shape

(200, 3)