## data encoding

In [1]:
import pandas as pd

In [2]:
df= pd.DataFrame({
    'color': ['red', 'blue', 'green', 'yellow', 'purple','red', 'blue', 'green', 'yellow', 'purple']
})

In [3]:
df.head(10)

    color
0     red
1    blue
2   green
3  yellow
4  purple
5     red
6    blue
7   green
8  yellow
9  purple

In [4]:
from sklearn.preprocessing import OneHotEncoder

In [5]:
encoder= OneHotEncoder()

In [7]:
encoded=encoder.fit_transform(df[['color']]).toarray()

In [8]:
print(encoded)

[[0. 0. 0. 1. 0.]
 [1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 0. 0. 1.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 0. 0. 1.]
 [0. 0. 1. 0. 0.]]

In [12]:
encoded_df= pd.DataFrame(encoded,columns= encoder.get_feature_names_out(['color']))

In [13]:
encoded_df.head(10)

   color_blue  color_green  color_purple  color_red  color_yellow
0         0.0          0.0           0.0        1.0           0.0
1         1.0          0.0           0.0        0.0           0.0
2         0.0          1.0           0.0        0.0           0.0
3         0.0          0.0           0.0        0.0           1.0
4         0.0          0.0           1.0        0.0           0.0
5         0.0          0.0           0.0        1.0           0.0
6         1.0          0.0           0.0        0.0           0.0
7         0.0          1.0           0.0        0.0           0.0
8         0.0          0.0           0.0        0.0           1.0
9         0.0          0.0           1.0        0.0           0.0

In [15]:
## for new data
encoder.transform([['purple']]).toarray()

/Users/sumankumar/Desktop/Udemy DS/venv/lib/python3.12/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[0., 0., 1., 0., 0.]])

In [16]:
pd.concat([df,encoded_df],axis=1)

    color  color_blue  color_green  color_purple  color_red  color_yellow
0     red         0.0          0.0           0.0        1.0           0.0
1    blue         1.0          0.0           0.0        0.0           0.0
2   green         0.0          1.0           0.0        0.0           0.0
3  yellow         0.0          0.0           0.0        0.0           1.0
4  purple         0.0          0.0           1.0        0.0           0.0
5     red         0.0          0.0           0.0        1.0           0.0
6    blue         1.0          0.0           0.0        0.0           0.0
7   green         0.0          1.0           0.0        0.0           0.0
8  yellow         0.0          0.0           0.0        0.0           1.0
9  purple         0.0          0.0           1.0        0.0           0.0